.idea/.gitignore
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/untitled10.iml
.idea/vcs.xml
__pycache__/
venv/
account.py
alpkr_posts.csv
/file_example_MP3_5MG.mp3
/Regular Expressions (RegEx) in 100 Seconds.mp4
